<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mohan Blog Site</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {{> header}}
  {{{ body }}}
  {{> footer}}
</body>
</html>
