


{{!< main}}

{{> header}}

<div class="row tophead">
    <div class="col">
        <h1 class="text-center py-2" style="background-color: #007BFF; color: white;">Login</h1>
    </div>
</div>

<section class="hero has-background-grey-lighter is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-4">
                    <form class="box">
                        <div class="form-group">
                            <label class="label">Username</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                                <input
                                    type="text"
                                    placeholder="e.g. username"
                                    class="form-control username-input"
                                    required
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label">Password</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                                <input
                                    type="password"
                                    placeholder="*******"
                                    class="form-control password-input"
                                    required
                                />
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <a class="btn btn-info" href="/signup/">
                                Sign up
                            </a>
                            <a class="btn btn-success login-button button is-success">
                                Login
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{{> footer}}
<script src="/public/js/login.js"></script>

